.information {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-gap: 35px;

  &_content {
    max-width: 970px;
  }

}


.information_item {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding-bottom: 8px;

  h3 {
    justify-self: flex-start;
  }

  div {
    justify-self: flex-end;
    align-self: flex-start;
  }

  a {
    color: lighten(#0000EE, 20%)
  }
}

.space-padding {
  padding-top: 30px;
}

.second-mobile-item {
  padding-left: 15px;
}

// Extra large devices (large desktops, 1200px and down)
@media (max-width: 1200px) {}

// Large devices (desktops, 992px and down)
@media (max-width: 992px) {}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  .information_item {
    grid-template-rows: 1fr 50px;
    padding: 0px 10px 15px 10px;

    div {
      justify-self: center;
      align-self: center;
    }
  }
}

@media (max-width: 576px) {}
