.information {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-gap: 35px;

  &_content {
    max-width: 970px;
  }

}


.information_item {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding-bottom: 8px;

  h3 {
    justify-self: flex-start;
  }

  div {
    justify-self: flex-end;
    align-self: flex-start;
  }

  a {
    color: lighten(#0000EE, 20%)
  }
}

.space-padding {
  padding-top: 30px;
}

.second-mobile-item {
  padding-left: 15px;
}
